<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Docker home - day 1</title>
</head>
<body>
Python version is <b>{{ pyv }}</b><br>
Flask Server version <b>{{ fsv }}</b><br>
Systems OS Name <b>{{ po }}</b>, Release Version <b>{{ ro }}</b>, Family Name <b>{{ on }}</b><br>
Kernel Version <b>{{ k }}</b><br>
Container build date/time <b>{{ bt }}</b><br>
Current date/time in zones UTC0: <b>{{ dtz }}</b><br>
The hostname of the container is <b>{{ hostname }}</b> and its IP is <b>{{ ip }}</b><br>
Student (Developer) Name <b>{{ sn }}</b><br>
Custom Environment Variable PARAMETER <b>{{ env }}</b><br>
Container Life time  <b>{{ b }}</b><br>
</body>
</html>
